*.class
*.iml
*.jar
.DS_Store
.cpcache
.idea
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
.specljs-timestamp
/checkouts
/classes
/lib
/resources/public/cljs/
/target
hs_err_*.log
node_modules
package-lock.json
pom.xml
pom.xml.asc
