{
 :paths   ["src/clj" "src/cljc" "src/cljs"]
 :deps    {
           com.cleancoders.c3kit/apron {:git/url "git@github.com:cleancoders/c3kit-apron.git" :git/sha "a516fd72e55ca8e0ef44636b3cee241a171c3fae"}
           cljsjs/hashids              {:mvn/version "1.0.2-0"}
           jstrutz/hashids             {:mvn/version "1.0.1"}
           org.clojure/clojure         {:mvn/version "1.11.1"}
           }
 :aliases {
           :test {:extra-deps    {
                                  com.cleancoders.c3kit/scaffold {:local/root "../scaffold" :exclusions [com.google.code.findbugs/jsr305]}
                                  com.datomic/datomic-free       {:mvn/version "0.9.5697" :exclusions [com.google.guava/guava]}
                                  org.clojure/clojurescript      {:mvn/version "1.11.60"}
                                  speclj/speclj                  {:mvn/version "3.4.1"}
                                  }
                  :override-deps {com.cleancoders.c3kit/apron {:local/root "../apron"}}
                  :extra-paths   ["dev" "spec/clj" "spec/cljc" "spec/cljs"]}
           :spec {:main-opts ["-m" "speclj.main" "-c"]}
           :cljs {:main-opts ["-m" "c3kit.scaffold.cljs"]}
           }
 }
