{
 :paths   ["src/clj" "src/cljc" "src/cljs"]
 :deps    {
           com.cleancoders.c3kit/apron {:git/url "git@github.com:cleancoders/c3kit-apron.git" :git/sha "bcf2f0952bf2e182c6068b2eec1b2e30f6107187"}
           cljsjs/hashids              {:mvn/version "1.0.2-0"}
           jstrutz/hashids             {:mvn/version "1.0.1"}
           org.clojure/clojure         {:mvn/version "1.11.1"}
           }
 :aliases {
           :test {:extra-deps    {
                                  com.cleancoders.c3kit/scaffold    {:local/root "../scaffold" :exclusions [com.google.code.findbugs/jsr305]}
                                  com.datomic/datomic-free          {:mvn/version "0.9.5697" :exclusions [com.google.guava/guava]}
                                  com.github.seancorfield/next.jdbc {:mvn/version "1.2.761"}
                                  com.microsoft.sqlserver/sqljdbc4  {:mvn/version "4.0"}
                                  com.h2database/h2                 {:mvn/version "2.1.214"}
                                  org.clojure/clojurescript         {:mvn/version "1.11.60"}
                                  speclj/speclj                     {:mvn/version "3.4.3"}
                                  }
                  :override-deps {com.cleancoders.c3kit/apron {:local/root "../apron"}}
                  :extra-paths   ["dev" "spec/clj" "spec/cljc" "spec/cljs"]}
           :spec {:main-opts ["-m" "speclj.main" "-c" "-t" "~slow"]}
           :cljs {:main-opts ["-m" "c3kit.scaffold.cljs"]}
           }
 }
