{:cache-analysis true
 :optimizations  :none
 :output-dir     "target/cljs-integration/"
 :output-to      "target/cljs-integration/idb_integration.js"
 :pretty-print   true
 :source-map     true
 :sources        ["spec/cljc" "src/cljc" "src/cljs" "spec/cljs"]
 :verbose        false}
